<div class="article-preview">
  <app-article-meta [article]="article">
    <app-favorite-button
      [article]="article"
      (toggle)="toggleFavorite($event)"
      class="pull-xs-right"
    >
      {{ article.favoritesCount }}
    </app-favorite-button>
  </app-article-meta>


    <button (click)="afficherTitre()">afficher titre</button><h1 *ngIf="article.showtitle">{{ article.title }}</h1>
    <button (click)="afficherDetail()">afficher detail</button>
    <div *ngIf="article.showdetail">
      <p>{{ article.description }}</p>
      <a [routerLink]="['/article', article.slug]" class="preview-link">
      <span>Read more...</span>
    </a>
      <ul class="tag-list">
        <li
          class="tag-default tag-pill tag-outline"
          *ngFor="let tag of article.tagList"
        >
          {{ tag }}
        </li>
      </ul>

    </div>

</div>
