<div class="home-page">
  <div class="banner" *appShowAuthed="false" style="background-color:yellow;">
    <div class="container">
      <h1 class="logo-font text-police"> salut ecowebbbbbbbbbbbbb</h1>
      <p class="paragraphe-police">Romain ou Romains est un nom de famille notamment porté par :

        François Romain (1647-1735), architecte flamando-français ;
        Jean Romain (1952-), enseignant, écrivain et homme politique suisse ;
        Jules Romain (1492-1546), peintre, architecte et décorateur italien du xvie siècle ;
        Jules Romain Barni, (1818-1878), philosophe et homme politique français, député de la Somme ;
        Jules Romains (1885-1972), écrivain, philosophe, poète et dramaturge français ;
        Marie Romain (1850-1930), écrivaine et poète française, a notamment écrit Les aventures d'Éline et Cent pérélis, cent pérélas ;
        Thomas Romain (1977-), réalisateur français ;
        Patrice Romain (1960- ), écrivain français ;
        Grégoire Romain (2003-), cycliste françaissssssssssss.<i>Angular</i> knowledge.</p>
    </div>
    <div class="image-matrix">
      <div *ngFor="let image of images" class="matrix-cell">
        <img [src]="image.src" [alt]="image.alt" class="matrix-image" />
      </div>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <div class="image-matrix">
              <div *ngFor="let image of images" class="matrix-cell">
                <img [src]="image.src" [alt]="image.alt" class="matrix-image" />
              </div>
            </div>
            <li class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ active: listConfig.type === 'feed' }"
                (click)="setListTo('feed')"
              >
                Your Feed
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{
                  active: listConfig.type === 'all' && !listConfig.filters.tag
                }"
                (click)="setListTo('all')"
              >
                Global Feed
              </a>
            </li>
            <li class="nav-item" [hidden]="!listConfig.filters.tag">
              <a class="nav-link active">
                <i class="ion-pound"></i> {{ listConfig.filters.tag }}
              </a>
            </li>
          </ul>
        </div>

        <app-article-list [limit]="10" [config]="listConfig"></app-article-list>
      </div>

      <div class="col-md-3" *rxLet="tags$; let tags">
        <div class="sidebar">
          <p>Popular Tags</p>
          <div class="image-matrix">
            <div *ngFor="let image of images" class="matrix-cell">
              <img [src]="image.src" [alt]="image.alt" class="matrix-image" />
            </div>
          </div>
          <div class="tag-list">
            <a
              *ngFor="let tag of tags"
              (click)="setListTo('all', { tag: tag })"
              class="tag-default tag-pill blink-tag"
            >
              {{ tag }}
            </a>
          </div>

          <div [hidden]="tagsLoaded">Loading tags...</div>

          <div [hidden]="!tagsLoaded || tags.length > 0">
            No tags are here... yet.
          </div>
        </div>
      </div>
    </div>
  </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/XE1LvMoKRNE?autoplay=1" frameborder="0" allowfullscreen></iframe>

</div>
